{% extends 'base.html' %}

{% block title %}Sign In | ChickenTender{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-5">
    <div class="card ct-panel">
      <div class="card-header">Sign In</div>
      <div class="card-body">
        <form method="post" class="vstack gap-2">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary w-100">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
